body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.Todolist{
    text-align: center;
    margin-top: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}
button{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.add_button{
    background-color: #28a745;
}
.add_button:hover{
    background-color: #218838;
}
.delete_button{
    background-color: #dc3545;
}
.delete_button:hover{
    background-color: #c82333;
}

.complete_button{
    background-color: #007bff;
}
.complete_button:hover{
    background-color: #0069d9;
}


input{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    margin-right: 10px;
}
ol{
    padding: 0;

}
li{
    list-style-type: none;
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    border: 3px solid #e4a4a4;
    border-radius: 5px;
    width: 400px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8d7da;
    color: #721c24;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);



    

    
}
li:hover{
    background-color: #f5c6cb;
}

.text{
    width: 70%;
    text-align: left;
    margin-left: 20px;

}
.delete_button{
    width: 20%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #dc3545;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
.delete_button:hover{
    background-color: #c82333;
}

.complete_button{
    width: 30%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

